.margin-top-zero {
  margin-top: 0;
}
.large-font{
  font-size:16px;
}
.small-font{
  font-size:13px;
}
.center{
  text-align:center;
}
.header{
  color:#3f51b5;
}
body.modal-open div.modal-backdrop { 
    z-index: 0; 
}