<md-card>
  <md-card-content>
    <p class="center large-font">Please fill out the following BET/BEAR forms.</p>



  </md-card-content>
</md-card>
<md-tab-group dynamic-height>
  <md-tab
  *ngFor="let betBearForm of teamBetBearForm?.individualBetBearForms" [label]="betBearForm.revieweeName" class="full-height">
      <md-card *ngFor="let bet of betBearForm.bets; let i = index">
        <md-card-subtitle>
          <b class="large-font header"> BET<span *ngIf="betBearForm.bets?.length > 1"> {{i + 1}}</span> {{ bet.revieweeName }}</b>
          <button md-icon-button *ngIf="betBearForm.bets?.length > 1" (click)="removeBet(betBearForm, j)" style='float:right'><md-icon>close</md-icon></button>
        </md-card-subtitle>
        <md-card-content>
          <md-input-container class="full-width">
            <textarea [(ngModel)]="bet.behavior" rows="3" mdInput placeholder="B (behavior)"></textarea>
          </md-input-container>

          <md-input-container class="full-width">
            <textarea [(ngModel)]="bet.effect" rows="3" mdInput placeholder="E (effect)"></textarea>
          </md-input-container>

          <md-input-container class="full-width">
            <input [(ngModel)]="bet.thankYou" mdInput placeholder="T (thank you)">
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card class="no-pad" *ngIf="betBearForm.bets?.length == 1"><button  (click)="addBet(betBearForm)" md-button color="primary" class="full-width"> Add a BET for {{ betBearForm.revieweeName }}</button></md-card>

      <md-card *ngFor="let bear of betBearForm.bears; let j = index">
        <md-card-subtitle>
          <b class="large-font header">BEAR<span *ngIf="betBearForm.bears?.length > 1"> {{j + 1}}</span> {{bear.revieweeName}}</b>
          <button md-icon-button *ngIf="betBearForm.bears?.length > 1" (click)="removeBear(betBearForm, j)" style='float:right'><md-icon>close</md-icon></button>
        </md-card-subtitle>
        <md-card-content>
          <md-input-container class="full-width">
            <textarea [(ngModel)]="bear.behavior" rows="3" mdInput placeholder="B (behavior)"></textarea>
          </md-input-container>

          <md-input-container class="full-width">
            <textarea [(ngModel)]="bear.effect" rows="3" mdInput placeholder="E (effect)"></textarea>
          </md-input-container>

          <md-input-container class="full-width">
            <textarea [(ngModel)]="bear.alternative" rows="3" mdInput placeholder="A (alternative)"></textarea>
          </md-input-container>

          <md-input-container class="full-width">
            <textarea [(ngModel)]="bear.result" rows="3" mdInput placeholder="R (result)"></textarea>
          </md-input-container>
        </md-card-content>
      </md-card>

      <md-card class="no-pad" *ngIf="betBearForm.bears?.length == 1"><button  (click)="addBear(betBearForm)" md-button color="primary" class="full-width"> Add a BEAR for {{ betBearForm.revieweeName }}</button></md-card>
  </md-tab>

</md-tab-group>

<md-card class="no-pad margin-top-zero"><button md-raised-button color="accent" class="full-width" (click)="save(teamBetBearForm)"> Save </button></md-card>

<md-card class="no-pad"><button  type="submit" md-raised-button color="primary" class="full-width" (click)="submit(teamBetBearForm)"> Submit </button></md-card>



