<md-sidenav-container>
    <md-sidenav #sidenav>
      <md-nav-list>
        <md-list-item (click)="goToRoute('student-dashboard'); sidenav.close()">
           <a md-line>My Dashboard</a>
        </md-list-item>
        <md-list-item (click)="logout(); sidenav.close()">
           <a md-line>Log Out</a>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <div class="app-content">
      <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
        <span>{{title}}</span>
      </md-toolbar>
      <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
