<md-sidenav-container>
    <md-sidenav #sidenav>

      <ng-container *ngIf="usersService.permission == 1">
        <md-nav-list>
          <md-list-item (click)="goToRoute('/student/dashboard'); sidenav.close()">
             <a md-line>My Dashboard</a>
          </md-list-item>
          <md-list-item (click)="logout(); sidenav.close()">
             <a md-line>Log Out</a>
          </md-list-item>
        </md-nav-list>
      </ng-container>

      <ng-container *ngIf="usersService.permission == 2">
        <md-nav-list>
          <md-list-item (click)="goToRoute('/instructor/dashboard'); sidenav.close()">
             <a md-line>My Dashboard</a>
          </md-list-item>
          <md-list-item (click)="goToRoute('/instructor/create-assignment'); sidenav.close()">
             <a md-line>Create Assignment</a>
          </md-list-item>
          <md-list-item (click)="logout(); sidenav.close()">
             <a md-line>Log Out</a>
          </md-list-item>
        </md-nav-list>
      </ng-container>

    </md-sidenav>
    <div class="app-content">
      <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()" *ngIf="usersService.permission > 0" ><md-icon>menu</md-icon></button>
        <span>Team Dynamics</span>
      </md-toolbar>
      <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
