<md-card class="no-pad" ><button md-button (click)="downloadCsv()" class="full-width">Download all feedback</button></md-card>
<md-nav-list>
  <ng-container *ngFor="let assignment of assignments">
    <h3 md-subheader>{{assignment.name}}</h3>
    <md-list-item *ngFor="let formId of assignment?.forms" (click)="openForm(forms[formId])">
      <a md-line>{{forms[formId].reviewerName}}</a>
      <p md-line>
        <span *ngIf="forms[formId]?.status == 2">Reviewed</span>
        <span *ngIf="forms[formId]?.status == 1">Submitted, ready for review</span>
        <span *ngIf="forms[formId]?.status == 0">Not yet submitted</span>
      </p>
    </md-list-item>
    <md-divider></md-divider>
  </ng-container>
</md-nav-list>
