<md-card>
  <md-card-content>
    <p class="large-font bold">{{teamBetBearForm?.reviewerName}}: {{teamBetBearForm?.assignmentName}}</p>
    <p class="small-font">
      <span *ngIf="teamBetBearForm?.status == 2">Reviewed</span>
      <span *ngIf="teamBetBearForm?.status == 1">Submitted, ready for review</span>
      <span *ngIf="teamBetBearForm?.status == 0">Not yet submitted</span>
    </p>
  </md-card-content>
</md-card>
<md-tab-group dynamic-height>
  <md-tab
  *ngFor="let betBearForm of teamBetBearForm?.individualBetBearForms" [label]="betBearForm.revieweeName" class="full-height">
      <md-card *ngFor="let bet of betBearForm.bets; let i = index">
        <md-card-subtitle>
          <b class="large-font header"> BET<span *ngIf="betBearForm.bets?.length > 1"> {{i + 1}}</span> (positive feedback) {{ betBearForm.revieweeName }}</b>
        </md-card-subtitle>
        <md-card-content>
          <label class="title bold">B (behavior)</label>
          <md-input-container class="full-width" floatPlaceholder="never">
            <textarea [(ngModel)]="bet.behavior" rows="3" mdInput disabled> </textarea>
          </md-input-container>
          <label class="title bold">E (effect)</label>
          <md-input-container class="full-width" floatPlaceholder="never">
            <textarea [(ngModel)]="bet.effect" rows="3" mdInput  disabled></textarea>
          </md-input-container>
          <label class="title bold">T (thank you)</label>
          <md-input-container class="full-width" floatPlaceholder="never">
            <input [(ngModel)]="bet.thankYou" mdInput disabled>
          </md-input-container>

          <ng-container *ngIf="teamBetBearForm.status == 1">
            <button (click)="bet.released = true" md-button color="primary" class="full-width" *ngIf="!bet.released">Mark for release to {{betBearForm.revieweeName}}</button>
            <button (click)="bet.released = false" md-button color="accent" class="full-width" *ngIf="bet.released">Mark to be withheld from {{betBearForm.revieweeName}}</button>
          </ng-container>
          <ng-container *ngIf="teamBetBearForm.status == 2">
            <button md-button disabled color="primary" class="full-width" *ngIf="!bet.released">Withheld from {{betBearForm.revieweeName}}</button>
            <button md-button disabled color="accent" class="full-width" *ngIf="bet.released">Released to {{betBearForm.revieweeName}}</button>
          </ng-container>
        </md-card-content>
      </md-card>

      <md-card *ngFor="let bear of betBearForm.bears; let j = index">
        <md-card-subtitle>
          <b class="large-font header">BEAR<span *ngIf="betBearForm.bears?.length > 1"> {{j + 1}}</span> (constructive feedback) {{betBearForm.revieweeName}}</b>
        </md-card-subtitle>
        <md-card-content>
          <label class="title bold">B (behavior)</label>
          <md-input-container class="full-width" floatPlaceholder="never">
            <textarea [(ngModel)]="bear.behavior" rows="3" mdInput disabled></textarea>
          </md-input-container>
          <label class="title bold">E (effect)</label>
          <md-input-container class="full-width" floatPlaceholder="never">
            <textarea [(ngModel)]="bear.effect" rows="3" mdInput disabled></textarea>
          </md-input-container>
          <label class="title bold">A (alternative)</label>
          <md-input-container class="full-width" floatPlaceholder="never">
            <textarea [(ngModel)]="bear.alternative" rows="3" mdInput disabled></textarea>
          </md-input-container>
          <label class="title bold">R (result)</label>
          <md-input-container class="full-width" floatPlaceholder="never">
            <textarea [(ngModel)]="bear.result" rows="3" mdInput disabled></textarea>
          </md-input-container>

          <ng-container *ngIf="teamBetBearForm.status == 1">
            <button (click)="bear.released = true" md-button color="primary" class="full-width" *ngIf="!bear.released">Mark for release to {{betBearForm.revieweeName}}</button>
            <button (click)="bear.released = false" md-button color="accent" class="full-width" *ngIf="bear.released">Mark to be withheld from {{betBearForm.revieweeName}}</button>
          </ng-container>
          <ng-container *ngIf="teamBetBearForm.status == 2">
            <button md-button disabled color="primary" class="full-width" *ngIf="!bear.released">Withheld from {{betBearForm.revieweeName}}</button>
            <button md-button disabled color="accent" class="full-width" *ngIf="bear.released">Released to {{betBearForm.revieweeName}}</button>
          </ng-container>
        </md-card-content>
      </md-card>
  </md-tab>
</md-tab-group>

<md-card class="no-pad margin-top-zero"><button md-raised-button color="accent" class="full-width" (click)="completeReview()" *ngIf="teamBetBearForm?.status == 1">Complete review and release BETS/BEARS</button></md-card>