/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

.app-content .full-width {
  width: 100%;
}

.app-content .no-pad {
  padding: 0;
}

.app-content md-card {
  margin: 1em;
}

.app-content .mat-simple-snackbar-message {
  margin: auto;
}

md-tab-body.mat-tab-body {
  height: 100% !important;
}

md-tab-header.mat-tab-header {
  margin-left: 1em;
  margin-right: 1em;
}