<md-nav-list>
	<md-card>
	  <md-card-content>
	    <p class="center large-font bold">My Dashboard</p>
	  </md-card-content>
	</md-card>
	<md-card>
		<md-card-content>
		  <md-list-item (click)="viewFeedback()">
		    View your feedback
		  </md-list-item>
		  <md-list-item *ngFor="let form of userForms" (click)="openForm(form)">
		    <a md-line>{{form.assignmentName}}</a>
		    <p md-line><span *ngIf="form.status">Submitted</span><span *ngIf="!form.status">Not yet submitted</span></p>
		    <p md-line *ngIf="form.lastSaved">Last saved on {{ form.lastSaved | date }} </p>
		    <p md-line>Due {{form.endDate | date}}</p>
		  </md-list-item>
		</md-card-content>
	</md-card>
</md-nav-list>
